<!DOCTYPE html>
<html>
    <head>
        <title>BeautyPop App</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <!-- seo -->
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Sell your style">
        
        <link rel="stylesheet" href="@routes.Assets.versioned("components/library/bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="../../assets/app/custom-css/beautypop-override.css">
        <link rel="stylesheet" href="../../assets/app/custom-css/login.css">
        <link rel="stylesheet" href="../../assets/app/custom-css/guide.css">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        <script src="@routes.Assets.versioned("components/library/jquery/jquery.min.js")"></script>
        <script src="@routes.Application.jsRoutes" defer="defer"></script>
        <style>
            body {
                background-image: url(../../assets/app/images/login/login-bg.jpg);
                background-size: cover;
                background-position: center center;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id=login-header style="margin-bottom:20px;">
            <a class="login-logo pull-left" href="/">
                <img src="../../assets/app/custom-css/images/logo%403x.png" />
            </a>
        </div>
        <div class="guide-info-container">
            <div class="guide-info-box" id="guide-info-section">
                <h3>Your item can be classified in more than one category. Can you post your item in different categories?</h3>
                <p>Do only list the item in one category that you feel is most suitable. For example, a moisturising cream can be classified in both 'For Her' and 'Beauty Products', but classifying it into 'Beauty Products' will be the most appropriate choice.</p>
                <p>Repeated postings in multiple categories will be taken down by our team without further notice.</p>
                <p>If you are unsure of which category to upload your item to, do write in to us at support&#64;baby-box.com.hk and we'll be happy to provide you some advice! </p>
            </div>
        </div>
        <div id="login-footer">
            <p>BeautyPop &#169; 2016 - <a href="../guide" target="_blank">關於</a><a href="../terms" target="_blank">使用條款</a><a href="../privacy" target="_blank">私隱政策</a><a href="../apps" target="_blank">下載手機 Apps</a></p>
        </div>
    </body>
</html>

<script type="text/javascript" src="@routes.Assets.versioned("app/scripts/tracking.js")"></script>
<script>
    ga_send_pv();
</script>