.header-bar>.logo {
	background: url(../images/logo-2.png) no-repeat center;
	width: 280px;
	height: 40px;
	margin: 10px auto 0;
	background-size: 175px;
}

.subtitle {
	margin-top: 80px;
}

.subtitle {
	font-size: 36px;
	color: rgb(250, 173, 150);
	text-align: center;
}

.content {
	margin-top: 50px;
}

.content {
	font-size: 24px;
	color: #050505;
	color: rgba(0, 0, 0, 0.871);
	line-height: 1.333;
}

a:active,a:hover {
	outline: 0;
}

.round-button {
	margin-top: 50px;
	display: inline-block;
	background: #fd4e64;
}

.clickable {
	cursor: pointer;
}

.round-button {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	width: 396px;
	height: 50px;
	line-height: 50px;
	border-radius: 50px;
	font-size: 22px;
}

.container.nopadding {
	padding: 0 20px 30px;
}

.container {
	width: 1024px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

#select-view {
	position: relative;
}

.round-button.disabled {
	cursor: default;
	pointer-events: none;
	background: #bbb !important;
}

.select-all {
	position: absolute;
	top: 65px;
	left: 100px;
	display: inline-block;
	height: 24px;
}

.cards {
	width: 850px;
	margin: 40px auto;
}

.clearfix {
	zoom: 1;
}

.card {
	position: relative;
	width: 160px;
	height: 160px;
	float: left;
	margin: 10px 10px 0 0;
}

.card .checkbox {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: url(../images/unselected.png) center no-repeat;
	width: 24px;
	height: 24px;
	z-index: 1001;
}

.card .imported {
	position: absolute;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1001;
	left: 0;
	bottom: 0;
}

.ui-checkbox {
	display: inline-block;
	background: url(../images/unselected-white.png) center no-repeat;
	outline: 0;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin: 0;
}

.select-all span {
	position: relative;
	left: 10px;
	top: -6px;
}

.edit-component {
	float: left;
	width: 480px;
	margin: 0 10px 30px;
	text-align: left;
}

.row.first {
	margin-bottom: 10px;
}

.row {
	position: relative;
}

.img.delete {
	position: relative;
}

.edit-component .img {
	float: left;
	width: 100px;
}

.img.delete:hover .delete-icon {
	opacity: 1;
	visibility: visible;
}

.img.delete .delete-icon {
	width: 100px;
	height: 100px;
	background: url(../images/remove-hover.png) center no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease;
}

.edit-component .name-desc {
	float: right;
	width: 380px;
	padding: 0 10px;
}

.beautypop.rounded {
	border-radius: 4px;
	height: 45px;
	padding: 6px;
}

.edit-component input,.edit-component .ui.dropdown,.edit-component select
	{
	display: inline-block !important;
	height: 45px;
	margin-bottom: 10px;
	width: 440px;
}

textarea.beautypop,input.beautypop {
	-webkit-appearance: none;
	-moz-appearance: none;
}

textarea.beautypop,input.beautypop,select.beautypop,div.beautypop {
	outline: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	border: 1px solid #e6e6e6;
	background: #fafafa;
	margin: 0 auto;
	color: #111;
	-webkit-transition: background-color .1s ease, box-shadow .1s ease,
		border-color .1s ease;
	transition: background-color .1s ease, box-shadow .1s ease, border-color
		.1s ease;
	resize: none;
}

input {
	line-height: normal;
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

.edit-component .ui-checkbox-wrapper {
	left: 6px;
	top: 5px;
}

.ui-checkbox-wrapper {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	margin: 0;
}

.edit-component input,.edit-component .ui.dropdown,.edit-component select
	{
	display: inline-block !important;
	height: 45px;
	margin-bottom: 10px;
	width: 440px;
}

textarea.beautypop,input.beautypop,select.beautypop,div.beautypop {
	outline: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	border: 1px solid #e6e6e6;
	background: #fafafa;
	margin: 0 auto;
	color: #111;
	-webkit-transition: background-color .1s ease, box-shadow .1s ease,
		border-color .1s ease;
	transition: background-color .1s ease, box-shadow .1s ease, border-color
		.1s ease;
	resize: none;
}

.has-icon {
	padding-left: 45px !important;
}

button,select {
	text-transform: none;
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

.edit-component .name-desc textarea {
	width: 315px;
	height: 100px;
}

.hero {
	background: url("../images/hero.png") no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	height: 700px;
}

.main-view {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.header-bar {
	width: 100%;
	height: 57px;
	border-bottom: 1px solid #6582a2;
	border-bottom: 1px solid rgba(255, 255, 255, 0.11);
	overflow: hidden;
}

.home-container {
	width: 1180px;
	margin: 0 auto;
	overflow: hidden;
}

.fifty-child {
	float: left;
	width: 50%;
}

.big-text-logo {
	background: url(../images/hero-text-logo.png) center no-repeat;
	width: 432px;
	height: 46px;
	display: block;
}

p.hero-text {
	font-size: 24px;
	color: rgb(255, 255, 255);
	line-height: 2;
	text-align: left;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

a.new-import-button {
	display: block;
	background: url(../images/btn.png) center no-repeat;
	width: 409px;
	height: 78px;
	text-align: center;
	line-height: 66px;
	font-size: 24px;
	color: white;
	text-decoration: none;
}

a:hover.new-import-button {
	background: url(../images/btn-hover.png) center no-repeat;
}

.beautypop-transition-main {
	display: block;
	margin: 0 auto;
	background: url(../images/beautypop.png) center no-repeat;
	width: 568px;
	height: 376px;
}

.beautypop-benefits {
	width: 100%;
	background: #faf8f8;
}

.title {
	font-size: 36px;
	color: #fd4e64;
	text-transform: uppercase;
}

.title-content {
	font-size: 24px;
	color: #050505;
	color: rgba(0, 0, 0, 0.871);
	line-height: 1.333;
}

.shop-container {
	width: 1180px;
	margin: 0 auto;
	overflow: hidden;
}

.store-on-the-go {
	width: 100%;
	background: #fff;
}

.love-to-shop {
	display: inline-block;
	background: url(../images/love-to-shop.png) no-repeat center;
	width: 540px;
	height: 433px;
	position: relative;
	left: -11px;
}

.perks {
	text-align: center;
}

.perks .entry {
	display: block;
	background: #fff;
	width: 580px;
	height: 124px;
	border: 1px solid #fce5de;
	border-radius: 4px;
	overflow: hidden;
	margin: 12px auto 0;
}

.entry .image {
	float: left;
	width: 132px;
	height: 124px;
}

.entry .description {
	float: right;
	width: 440px;
	height: 190px;
}

.perks .description {
	margin-top: 20px;
}

.entry .description .header {
	text-align: left;
	font-size: 16px;
	line-height: 1.636;
	font-weight: bold;
	color: black;
	width: 100%;
}

.entry .description .content {
	text-align: left;
	font-size: 16px;
	line-height: 1.636;
	width: 100%;
	color: #999;
	margin-top: 0px;
}

.entry.reversed .image {
	float: right;
}

.login-dialog .modal-header .close {
	margin-top: -2px;
	position: absolute;
	right: -15px;
	top: 14px;
	color: #fff;
	opacity: 0.9;
	font-size: 29px;
	border: 3px solid #fff;
	border-radius: 23px;
	height: 36px;
	width: 36px;
	z-index: 55;
	background-color: #000;
	line-height: 26px;
}

.login-dialog .modal-content {
	background-color: transparent;
	border: 0;
}

.login-modal {
	background: #faf7f7;
}
/* .login-modal {
    overflow: hidden;
    border-radius: 4px;
    position: fixed;
    width: 470px;
    height: 540px;
    margin: -240px 0 0 -250px;
    background: #faf7f7;
    border: 1px solid #eee;
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
    z-index: 100;
} */
.login-modal .header {
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #eee;
	text-align: center;
	background: #fff;
}

.login-modal .half-round {
	width: 350px;
	margin: 0 auto;
}

input.mall {
	outline: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid #e0e0e0;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0 auto;
	color: #111;
	-webkit-transition: border-color .1s ease;
	transition: border-color .1s ease;
	border-radius: 0 !important;
	text-align: left !important;
	width: 420px !important;
}

.half-round {
	text-align: center;
	text-decoration: none;
	display: block;
	color: #fff;
	width: 480px;
	height: 50px;
	line-height: 50px;
	border-radius: 6px;
	margin-top: 10px !important;
}

.half-round.secondary {
	background: none;
	color: #fd4e64;
	border: 1px solid #fd4e64;
}

.divider {
	overflow: visible;
	height: 1px;
	background: #e0e0e0;
	text-align: center;
	width: 100%;
	color: #c3c3c3;
	margin: 20px 0;
}

a {
	text-decoration: none !important;
}

i.category {
    background: url(../images/category.png) center no-repeat;
}

i.price {
    background: url(../images/price.png) center no-repeat;
}

i.stock {
    background: url(../images/stock.png) center no-repeat;
}

i.days-to-ship {
    background: url(../images/ship-out-in.png) center no-repeat;
}

i.condition {
    background: url(../images/condition.png) center no-repeat;
}

i.icon {
    position: absolute;
    display: block;
    width: 40px;
    height: 25px;
    z-index: 99;
    top: 10px;
    left: 0;
    border-right: 1px solid #eaeaea;
}

.beautypop-instagram-import-logo {
    background: url(../images/step-logo.png) center no-repeat;
    width: 293px;
    height: 72px;
    display: block;
    margin: 60px auto 40px;
}

.container .instagram-logo {
    display: inline-block;
    background: url(../images/transition-instashop.png) center no-repeat;
    height: 48px;
    width: 48px;
    top: -3px;
    position: relative;
}

.steps {
    display: inline-block;
    overflow: hidden;
}

.steps .step.active {
    background: #fd4e64;
    color: #fff;
}

.steps .step.active a {
    color: #fff;
    text-decoration: none;
}

.steps .step.active a:focus, .steps .step.active a:hover {
    color: #23527c;
    text-decoration: none;
}

.steps .step {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    background: #597282;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 27px;
    color: #b0bcc3;
    border: 2px solid #597282;
    font-weight: bold;
    z-index: 1;
}

.container .beautypop-logo {
    display: inline-block;
    background: url(../images/transition-beautypop.png) center no-repeat;
    height: 48px;
    width: 48px;
    top: -8px;
    position: relative;
}

.step-header {
    background: url(../images/hero.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 330px;
}

.steps .bar {
    position: relative;
    background: #597282;
    margin: 0 20px;
    top: -20px;
    width: auto;
    height: 12px;
    z-index: 0;
}

.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 124px;
    background: #b2a8a5;
}
