<!doctype html>
<html lang="zh-hk">
    <title>BeautyPop App</title>
        <meta name="description" content="Sell your style">
        <!--meta name="theme-color" content="#FF2742">
        <meta name="apple-mobile-web-app-status-bar-style" content="#FF2742"-->
        <meta property="og:title" content="BeautyPop App" />
        <meta property="og:description" content="Sell your style" />
        <meta property="og:image" content="http://www.beautypop.hk/assets/app/images/login/cover.jpg" />
        <link rel="canonical" href="http://www.beautypop.hk" />
        
        <!--meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT"-->
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <!-- seo -->
        <meta name="fragment" content="!">
        <meta name="robots" content="index, follow" />
        
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        
        <!-- Google Webfont -->
        <link
            href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800'
            rel='stylesheet' type='text/css'>
        <link
            href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic'
            rel='stylesheet' type='text/css'>
        <link
            href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'
            rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Grand+Hotel'
            rel='stylesheet' type='text/css'>
    </head>

    <body id="main-app" class="menu-right-hidden" >
    	<header>
    		<div class="top-wrap">
    			<div class="row">
    				<div class="twelve columns">
    
    					<!-- Logo content -->
    					<div class="four columns logo">
    						<h1>
    							<a href="#">BeautyPop</a>
    						</h1>
    					</div>
    
    					<!-- Navmenu content -->
    					<div class="eight columns">
    						<ul class="top-nav">
    							<li class="current"><a href="#top">Home</a></li>
    							<li><a href="#features">About</a></li>
    							<!-- <li><a href="#sell">We'll sell for you!</a></li>-->
    							<li><a href="#quote">Opinions</a></li>
    							<!--<li><a href="#team">Team</a></li>-->
    							<li><a href="#contact">Contact</a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</header>
    	<!-- Header section -->
    
    	<!-- Slider section -->
    	<section id="top">
    		<div class="row">
    			<div class="twelve columns">
    				<div class="space90"></div>
    
    				<!-- Slider content -->
    				<div class="six columns">
    					<div id="main-slider" class="flexslider">
    						<ul class="slides">
    							<li><img src="../../../assets/app/images/hello/slider/1.png" alt="" /></li>
    							<li><img src="../../../assets/app/images/hello/slider/2.png" alt="" /></li>
    							<li><img src="../../../assets/app/images/hello/slider/3.png" alt="" /></li>
    							<li><img src="../../../assets/app/images/hello/slider/4.png" alt="" /></li>
    						</ul>
    					</div>
    				</div>
    
    				<!-- Content right -->
    				<div class="six columns top-info">
    					<h3>
    						BeautyPop <span>Sell Your Style !</span>
    					</h3>
    					<p>
    						快d打開你個衣櫃，睇下自己有乜嘢買咗又冇乜點用，但掉咗又好似好嘥嘅嘢啦！ Post咗上BeautyPop又有人有興趣嘅話，你地仲可以直接chat㗎！ 簡單、方便、快捷，快啲開始sell啦！ 仲等！ 免費㗎！
    						<i style="font-size: 14px; color: #e9d149;" class=""></i>
    					</p>
    					<div class="space50"></div>
    					<div class="six columns" style="padding-left: 0px">
    						<a class="btn"
    							href="https://itunes.apple.com/hk/app/beautypop-sell-your-style/id1105390610"
    							target="_blank">
                                <span>
                                    <div class="google-play-wrap">
                                        <img src="../../../assets/app/images/hello/ios-appstore.png" class="google-play">
                                        <img src="../../../assets/app/images/hello/ios-appstore-hover.png" class="google-play-hover">
                                    </div>
                                </span>Available at the<em>App Store</em></a>
    					</div>
    					<div class="six columns" style="padding-left: 0px">
    						<a class="btn"
    							href="https://play.google.com/store/apps/details?id=com.beautypop.app">
                                <span>
                                    <div class="google-play-wrap">
    									<img src="../../../assets/app/images/hello/google-play.png" class="google-play">
                                        <img src="../../../assets/app/images/hello/google-play-hover.png" class="google-play-hover">
    								</div>
                                </span>Get it on<em>Google Play</em>
                            </a>
    					</div>
    
    					<div class="xtra" style="clear: both; padding-top: 14px;">
    						Follow us on <a href="https://www.instagram.com/beautypop_hk/"
    							target="_blank">Instagram</a> for inspiration.
    					</div>
    					<div class="xtra" style="clear: both; padding-top: 14px;">
    					 <a href="/" ><div class='ic_logo_get clickable_area'></div></a>
    					 </div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- Slider section -->
    
    	<!-- Features/services section -->
    	<section id="features">
    		<div class="row">
    			<div class="twelve columns">
                    <div class="four columns features-content">
                        <div class="ico" style="color: #e9d149;">
                            <i><img style="width:40px;height:40px" src="../../../assets/app/images/hello/about/globe.png"></i>
                        </div>
                        <div class="features-info">
                            <h4>Discover</h4>
                            <p>我哋嘅 sellers 日日都有好產品 post 喺 BeautyPop。 想買到好嘢？ 咁就記得每日都去 BeautyPop 望望啦!</p>
                        </div>
                    </div>
                    
    				<div class="four columns features-content">
    					<div class="ico" style="color: #e9d149;">
    						<i><img style="width:40px;height:40px" src="../../../assets/app/images/hello/about/tag.png"></i>
    					</div>
    					<div class="features-info">
    						<h4>Sell</h4>
    						<p>只要 3 個簡單步驟就可以係 BeautyPop 放賣妳嘅產品， 真係話都無咁簡單！ 
                               <br>(<a href="/photoguide" target="_blank">Photo Guidelines</a>)</p>
    					</div>
    				</div>
        
                    <div class="four columns features-content">
                        <div class="ico" style="color: #e9d149;">
                            <i><img style="width:40px;height:40px" src="../../../assets/app/images/hello/about/tee.png"></i>
                        </div>
                        <div class="features-info">
                            <h4>Buy</h4>
                            <p>數千款潮流服飾，化妝品，手袋 (仲有更多!)，Look 幾 Look 總會見到幾件心頭好。㩒個制就買到。真係方便，快脆，好嘢！</p>
                        </div>
                    </div>
    
    			</div>
    
    			<div class="twelve columns">
    				<div class="four columns features-content">
    					<div class="ico" style="color: #FF2742;">
    						<i><img style="width:40px;height:40px" src="../../../assets/app/images/hello/about/mobile.png"></i>
    					</div>
    					<div class="features-info">
    						<h4>Free to Use</h4>
    						<p>係完全免費㗎！ 無論妳係 buyer 或 seller， BeautyPop 係唔會收任可費用。咁仲等咩？ 真係唔買都嚟賣吓啦</p>
    					</div>
    				</div>
    
    				<div class="four columns features-content">
    					<div class="ico" style="color: #FF2742;">
    						<i><img style="width:40px;height:40px" src="../../../assets/app/images/hello/about/diamond.png"></i>
    					</div>
    					<div class="features-info">
    						<h4>Stick with the rules</h4>
    						<p>BeautyPop 希望大家都可以安心使用呢個免費平台去買到想買嘅同賣到想賣嘅嘢。請花小小時間睇睇 BeautyPop Guidelines，大家請遵守規則呀 
                               <br>(<a href="/guide" target="_blank">Community Guidelines</a>)</p>
    					</div>
    				</div>
    
    				<div class="four columns features-content">
    					<div class="ico" style="color: #FF2742;">
    						<i><img style="width:40px;height:40px" src="../../../assets/app/images/hello/about/heart.png"></i>
    					</div>
    					<div class="features-info">
    						<h4>We Love Second Hand</h4>
    						<p>BeautyPop 想透過呢個平台去鼓勵『共享經濟』。 希望大家可以好好使用呢個平台去處理自己買咗又冇乜點用，但係又好新，掉咗又費浪費嘅產品。咁不如睇吓其他人用唔用得著又可以賺到D外快啦！</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</section>
    	<section id="quote">
    		<div class="row">
    			<div class="twelve columns">
    				<h3>
    					<i><img style="width:16px;height:16px" src="../../../assets/app/images/hello/chat.png"></i>BeautyPop 賣嘢小貼士
    				</h3>
    
    				<div class="flexslider quotes">
    					<ul class="slides">
    						<li data-thumb="../../../assets/app/images/hello/quote/1.png">
    							<p>STEP 1 : 幫你嘅產品影張靚相</p>
    							<div class="sign">
    							     <span>記得用淺色背景,同埋要夠光啊</span>
    							</div>
    						</li>
    
    						<li data-thumb="../../../assets/app/images/hello/quote/1.png">
    							<p>STEP 2 : 寫個 Title 同埋 價錢</p>
    							<div class="sign">
    								<span>最好加埋 Description 例如 顏色, 尺碼</span>
    							</div>
    						</li>
    
    						<li data-thumb="../../../assets/app/images/hello/quote/1.png">
    							<p>STEP 3 : 完成! 就係咁簡單!</p>
    							<div class="sign">
    								<span> 所有 BeautyPop 用家都可以見到你嘅產品</span>
    							</div>
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- Testimonial/quote section -->
    
    	</div>
    	</div>
    	</div>
    	</section>
    	<!-- Team -->
    
    	<!-- Contact section -->
    	<section id="contact">
    		<div class="row">
    			<div class="twelve columns">
    				<h3>
    					<i><img style="width:16px;height:16px" src="../../../assets/app/images/hello/message-gray.png"></i>聯絡我們
    				</h3>
    
    				<!-- Contact form -->
    				<div class="six columns" style="min-height: 253px">
    					<form id="contactForm" method="post" action="/sendMessage">
    						<div class="inner">
    							<input name="senderName"
    								id="senderName" required="required" type="text"
    								placeholder="Name" />
    						</div>
    
    						<div class="inner">
    							<input type="email"
    								name="senderEmail" id="senderEmail" placeholder="Email address"
    								required="required" />
    						</div>
    
    						<div class="inner">
    							<textarea name="message" id="message" placeholder="Message"
    								rows="5"></textarea>
    						</div>
    
    						<input type="submit" id="sendMessage" name="sendMessage"
    							value="Send Message" />
    					</form>
    					<div id="sendingMessage" class="statusMessage">
    						<p>Sending your message. Please wait...</p>
    					</div>
    					<div id="successMessage" class="successmessage">
    						<p>
    							<span class="success-ico"><i class="icon-ok-circle"></i></span>
    							Thanks for sending your message! We'll get back to you shortly.
    						</p>
    					</div>
    					<div id="failureMessage" class="errormessage">
    						<p>
    							<span class="error-ico"><i class="icon-remove-circle"></i></span>
    							There was a problem sending your message. Please try again.
    						</p>
    					</div>
    					<div id="incompleteMessage" class="statusMessage">
    						<p>Please complete all the fields in the form before sending.</p>
    					</div>
    				</div>
    
    				<!-- Contact info -->
    				<div class="six columns">
    					<ul class="contact-info">
                            <li>
                                <em><img src="../../../assets/app/images/hello/email-gray.png" class="google-play"></em>
                                <span>
                                    <a style="color:#333;" href="mailto:info&#64;beautypop&#46;com&#46;hk">info&#64;beautypop&#46;com&#46;hk</a>
                                </span>
                            </li>
                            <li>
                                <em><img src="../../../assets/app/images/hello/ios-appstore-gray.png" class="google-play"></em>
                                <span>
                                    <a href="https://itunes.apple.com/hk/app/beautypop-sell-your-style/id1105390610"
    								   target="_blank">iPhone 下載</a>
                                </span>
                            </li>
                            <li>
                                <em><img src="../../../assets/app/images/hello/google-play-gray.png" class="google-play"></em>
                                <span>
                                    <a href="https://play.google.com/store/apps/details?id=com.beautypop.app"
                                       target="_blank">Android 下載</a>
                                </span>
                            </li>
    					</ul>
    
    					<ul class="social-info">
    						<li class="f-fb">
                                <a href="https://www.facebook.com/beautypop.hk" target="_blank">
                                    <em><img src="../../../assets/app/images/hello/fb-gray.png" class="google-play"></em>
                                </a>
                            </li>
    						<li class="f-instagram">
                                <a href="http://www.instagram.com/beautypop_hk" target="_blank">
                                    <em><img src="../../../assets/app/images/hello/insta-gray.png" class="google-play"></em>
                                </a>
                            </li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</section>
    	<!-- Contact section -->
    
    	<!-- Press Section -->
    	<footer class="footer">
    		<div class="row">
    			<div class="twelve columns footer-inner">
    				<div id="press">
    					<p>
    						For press enquiries <a href="mailto:info&#64;beautypop&#46;com&#46;hk">click here</a> 
                            | To see our Photo Guidelines <a href="/photoguide">click here</a>
    					</p>
    				</div>
    			</div>
    		</div>
    	</footer>
    	<!-- Press Section -->
    
    	<!-- Footer section -->
    	<footer class="footer">
    		<div class="row">
    			<div class="twelve columns footer-inner">
    				<p>
    					&copy; 2016. <a href="/hello">B Unit Technologies Limited</a>.
    					All Rights Reserved.
    				</p>
    			</div>
    		</div>
    	</footer>
    
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery-1.8.3.min.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.flexslider.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/contact.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.localscroll-1.2.7-min.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.mobilemenu.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.scrollTo.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.nav.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/main.js")"></script>
    
        <link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/common.css")>
    	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/reset.css")>
    	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/foundation.css")>
    	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/style.css")>
    	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/ico.css")>
    	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/flexslider.css")>
    </body>
</html>

<script type="text/javascript" src="@routes.Assets.versioned("app/scripts/tracking.js")"></script>
<script>
    ga_send_pv();
</script>
