<!doctype html>
<html lang="zh-hk">
    <title>BeautyPop App</title>
        <meta name="description" content="Sell your style">
        <meta name="theme-color" content="#FF2742">
        <meta name="apple-mobile-web-app-status-bar-style" content="#FF2742">
        <meta property="og:title" content="BeautyPop App" />
        <meta property="og:description" content="Sell your style" />
        <meta property="og:image" content="http://www.beautypop.hk/assets/app/images/login/cover.jpg" />
        <link rel="canonical" href="http://www.beautypop.hk" />
        
        <!--meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT"-->
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <!-- seo -->
        <meta name="fragment" content="!">
        <meta name="robots" content="index, follow" />
        
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        
        <!-- Google Webfont -->
        <link
            href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800'
            rel='stylesheet' type='text/css'>
        <link
            href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic'
            rel='stylesheet' type='text/css'>
        <link
            href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'
            rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Grand+Hotel'
            rel='stylesheet' type='text/css'>
    </head>

<body id="main-app" class="menu-right-hidden" >
	<header>
		<div class="top-wrap">
			<div class="row">
				<div class="twelve columns">

					<!-- Logo content -->
					<div class="four columns logo">
						<h1>
							<a href="#">BeautyPop</a>
						</h1>
					</div>

					<!-- Navmenu content -->
					<div class="eight columns">
						<ul class="top-nav">
							<li class="current"><a href="#top">Home</a></li>
							<li><a href="#features">About</a></li>
							<!-- <li><a href="#sell">We'll sell for you!</a></li>-->
							<li><a href="#quote">Opinions</a></li>
							<!--<li><a href="#team">Team</a></li>-->
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section -->

	<!-- Slider section -->
	<section id="top">
		<div class="row">
			<div class="twelve columns">
				<div class="space90"></div>

				<!-- Slider content -->
				<div class="six columns">
					<div id="main-slider" class="flexslider">
						<ul class="slides">
							<li><img src="../../../assets/app/images/hello/slider/1.png" alt="" /></li>
							<li><img src="../../../assets/app/images/hello/slider/2.png" alt="" /></li>
							<li><img src="../../../assets/app/images/hello/slider/3.png" alt="" /></li>
							<li><img src="../../../assets/app/images/hello/slider/4.png" alt="" /></li>
						</ul>
					</div>
				</div>

				<!-- Content right -->
				<div class="six columns top-info">
					<h3>
						BeautyPop <span>Your Second Hand Market</span>
					</h3>
					<p>
						A fun & simple way to buy, sell and swap trendy second hand
						clothes, shoes and accessories. It's easy & personal - get started
						now <i style="font-size: 14px; color: #e9d149;" class=""></i>
					</p>
					<div class="space50"></div>
					<div class="six columns" style="padding-left: 0px">
						<a class="btn"
							href="https://itunes.apple.com/hk/app/beautypop-sell-your-style/id1105390610"
							target="_blank">
                            <span>
                                <div class="google-play-wrap">
                                    <img src="../../../assets/app/images/hello/ios-appstore.png" class="google-play">
                                    <img src="../../../assets/app/images/hello/ios-appstore-hover.png" class="google-play-hover">
                                </div>
                            </span>Available at the<em>App Store</em></a>
					</div>
					<div class="six columns" style="padding-left: 0px">
						<a class="btn"
							href="https://play.google.com/store/apps/details?id=com.beautypop.app">
                            <span>
                                <div class="google-play-wrap">
									<img src="../../../assets/app/images/hello/google-play.png" class="google-play">
                                    <img src="../../../assets/app/images/hello/google-play-hover.png" class="google-play-hover">
								</div>
                            </span>Get it on<em>Google Play</em>
                        </a>
					</div>

					<div class="xtra" style="clear: both; padding-top: 14px;">
						Follow us on <a href="https://www.instagram.com/beautypop_hk/"
							target="_blank">Instagram</a> for inspiration.
					</div>
					<div class="xtra" style="clear: both; padding-top: 14px;">
					 <a href="/" ><div class='ic_logo_get clickable_area'></div></a>
					 </div>
				</div>
			</div>
		</div>
	</section>
	<!-- Slider section -->

	<!-- Features/services section -->
	<section id="features">
		<div class="row">
			<div class="twelve columns">
				<div class="four columns features-content">
					<div class="ico" style="color: #e9d149;">
						<i class="icon-tshirt"></i>
					</div>
					<div class="features-info">
						<h4>Buy</h4>
						<p>Save money while upgrading your swag! Hundreds of new
							clothes added every day. Buy them straight from your phone.</p>
					</div>
				</div>

				<div class="four columns features-content">
					<div class="ico" style="color: #e9d149;">
						<i class="icon-tag"></i>
					</div>
					<div class="features-info">
						<h4>Sell</h4>
						<p>
							It's as easy as snapping a picture of the item you want to sell,
							pricing it and waiting for someone to BeautyPop it up. (View our <a
								href="terms.html" target="_blank"><strong>Terms</strong></a>)
						</p>
					</div>
				</div>

				<div class="four columns features-content">
					<div class="ico" style="color: #e9d149;">
						<i class="icon-world"></i>
					</div>
					<div class="features-info">
						<h4>Discover</h4>
						<p>Browse through thousands of clothes, shoes & accessories
							and follow the styles you dig to stay up to date.</p>
					</div>
				</div>
			</div>

			<div class="twelve columns">
				<div class="four columns features-content">
					<div class="ico" style="color: #FF2742;">
						<i class="icon-iphone"></i>
					</div>
					<div class="features-info">
						<h4>Free to Use</h4>
						<p>The app is free to download and it's free to post as many
							ads as you like. Really, what have you got to lose? Try it!</p>
					</div>
				</div>

				<div class="four columns features-content">
					<div class="ico" style="color: #FF2742;">
						<i class="icon-diamond"></i>
					</div>
					<div class="features-info">
						<h4>Quality Control</h4>
						<p>
							At our secret laboratory we review every ad to make sure only the
							freshest garments makes it way to the app. (View <a
								href="photoguide/index.html" target="_blank"><strong>Photo
									Guidelines</strong></a>)
						</p>
					</div>
				</div>

				<div class="four columns features-content">
					<div class="ico" style="color: #FF2742;">
						<i class=""></i>
					</div>
					<div class="features-info">
						<h4>We Love Second Hand</h4>
						<p>Team BeautyPop is fueled by a passion for fashion. We are
							awesome, so are you. Boost your style, Join us!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="quote">
		<div class="row">
			<div class="twelve columns">
				<h3>
					<i class="icon-chat"></i>What are people saying about BeautyPop?
				</h3>

				<div class="flexslider quotes">
					<ul class="slides">
						<li data-thumb="../../../assets/app/images/hello/quote/1.png">
							<p>"Just got the app, BeautyPop, and managed to sell a top in 15
								minutes. Is this where life begins?"</p>
							<div class="sign">
								<a
									href="https://www.twitter.com/speciellt/status/390200069359943680"
									target="_blank">speciellt</a> /<span> BeautyPop User</span>
							</div>
						</li>

						<li data-thumb="../../../assets/app/images/hello/quote/1.png">
							<p>"At the start of the week i put a jacket up for sale on
								BeautyPop. Now it's sold for 550 SEK. Do you also have too many
								clothes and too little money? Put it up on BeautyPop!!"</p>
							<div class="sign">
								Carl Öhman /<span> BeautyPop User</span>
							</div>
						</li>

						<li data-thumb="../../../assets/app/images/hello/quote/2.png">
							<p>"Well-assorted vintage app"</p>
							<div class="sign">
								Aftonbladet /<span> <a
									href="https://www.appguiden.se/article/4345001" target="_blank">Appguiden</a></span>
							</div>
						</li>

						<li data-thumb="../../../assets/app/images/hello/quote/1.png">
							<p>"I found out about BeautyPop yesterday. Damn good app!"</p>
							<div class="sign">
								<a
									href="https://www.twitter.com/albingranaas/status/391878063140532224"
									target="_blank">albingranaas</a> /<span> beautyPop User</span>
							</div>
						</li>

						<li data-thumb="../../../assets/app/images/hello/quote/1.png">
							<p>"I'm insanely happy with what I bought on beautyPop. I
								even managed to sell more than a few things there myself! My
								advice to all of you - Get beautyPop!"</p>
							<div class="sign">
								<a
									href="https://linasmedsjo.blogg.se/2013/october/lite-nytt-i-garderoben.html"
									target="_blank">Lina Smedsjö</a> /<span> beautyPop User</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial/quote section -->

	</div>
	</div>
	</div>
	</section>
	<!-- Team -->

	<!-- Contact section -->
	<section id="contact">
		<div class="row">
			<div class="twelve columns">
				<h3>
					<i class="icon-envelope"></i>Get in touch!
				</h3>

				<!-- Contact form -->
				<div class="six columns" style="min-height: 253px">
					<form id="contactForm" method="post">
						<div class="inner">
							<input name="senderName"
								id="senderName" required="required" type="text"
								placeholder="Name" />
						</div>

						<div class="inner">
							<input type="email"
								name="senderEmail" id="senderEmail" placeholder="Email address"
								required="required" />
						</div>

						<div class="inner">
							<textarea name="message" id="message" placeholder="Message"
								rows="5"></textarea>
						</div>

						<input type="submit" id="sendMessage" name="sendMessage"
							value="Send Message" />
					</form>
					<div id="sendingMessage" class="statusMessage">
						<p>Sending your message. Please wait...</p>
					</div>
					<div id="successMessage" class="successmessage">
						<p>
							<span class="success-ico"><i class="icon-ok-circle"></i></span>
							Thanks for sending your message! We'll get back to you shortly.
						</p>
					</div>
					<div id="failureMessage" class="errormessage">
						<p>
							<span class="error-ico"><i class="icon-remove-circle"></i></span>
							There was a problem sending your message. Please try again.
						</p>
					</div>
					<div id="incompleteMessage" class="statusMessage">
						<p>Please complete all the fields in the form before sending.</p>
					</div>
				</div>

				<!-- Contact info -->
				<div class="six columns">
					<ul class="contact-info">
						<li>
                            <em><img src="../../../assets/app/images/hello/ios-appstore-gray.png" class="google-play"></em>
                            <span>
                                <a href="https://itunes.apple.com/hk/app/beautypop-sell-your-style/id1105390610"
								   target="_blank">Download beautyPop for iPhone</a>
                            </span>
                        </li>
						<li>
                            <em><img src="../../../assets/app/images/hello/google-play-gray.png" class="google-play"></em>
                            <span>
                                <a href="https://play.google.com/store/apps/details?id=com.beautypop.app"
                                   target="_blank">Download beautyPop for Android</a>
                            </span>
                        </li>
					</ul>

					<ul class="social-info">
						<li class="f-fb">
                            <a href="https://www.facebook.com/beautypop.hk" target="_blank">
                                <em><img src="../../../assets/app/images/hello/fb-gray.png" class="google-play"></em>
                            </a>
                        </li>
						<li class="f-instagram">
                            <a href="http://www.instagram.com/beautypop_hk" target="_blank">
                                <em><img src="../../../assets/app/images/hello/insta-gray.png" class="google-play"></em>
                            </a>
                        </li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section -->

	<!-- Press Section -->
	<footer class="footer">
		<div class="row">
			<div class="twelve columns footer-inner">
				<div id="press">
					<p>
						For press enquiries <a href="mailto:info&#64;beautypop&#46;com&#46;hk">click here</a> 
                        | To see our Photo Guidelines <a href="photoguide/index.html">click here</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Press Section -->

	<!-- Footer section -->
	<footer class="footer">
		<div class="row">
			<div class="twelve columns footer-inner">
				<p>
					&copy; 2015. <a href="index.html" target="_blank">B Unit Technologies Limited</a>.
					All Rights Reserved.
				</p>
			</div>
		</div>

	</footer>


	<!-- jQuery Files -->
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery-1.8.3.min.js")"></script>
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.flexslider.js")"></script>
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/contact.js")"></script>
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.localscroll-1.2.7-min.js")"></script>
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.mobilemenu.js")"></script>
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.scrollTo.js")"></script>
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/jquery.nav.js")"></script>
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/main.js")"></script>
    <script src="@routes.Assets.versioned("app/scripts/ui.js")"></script>

    <link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/common.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/reset.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/foundation.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/style.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/ico.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/flexslider.css")>
</body>
</html>


