<!doctype html>
<html lang="zh-hk">
    <title>BeautyPop App</title>
        <meta name="description" content="Sell your style">
        <meta name="theme-color" content="#FF2742">
        <meta name="apple-mobile-web-app-status-bar-style" content="#FF2742">
        <meta property="og:title" content="BeautyPop App" />
        <meta property="og:description" content="Sell your style" />
        <meta property="og:image" content="http://www.beautypop.hk/assets/app/images/login/cover.jpg" />
        <link rel="canonical" href="http://www.beautypop.hk" />
        
        <!--meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT"-->
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <!-- seo -->
        <meta name="fragment" content="!">
        <meta name="robots" content="index, follow" />
        
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon.ico")">
        
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/5270aca8163fd16310000004/favicon.ico">
    <script type="text/javascript" src="js/script.js" defer></script>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42897613-2', 'plick.se');
	  ga('send', 'pageview');
     </script>
  </head><body>
  <div class="topheader">
    <div class="w-container">
      <img class="appicon" src="../../../assets/app/images/hello/photoguide/AppIcon76x76%402x.png" alt="Plick Logo" width="76">
      <h1>Plick - Photo Guide</h1>
    </div>
  </div>
  <div class="banner">
    <div class="w-container">
      <h3>A quick guide on how to sell your items faster. Just follow these simple steps.</h3>
    </div>
  </div>
  <div class="cover">
    <div class="w-container">
      <h2>Picture 1 - Item</h2>
      <p>This photo should be of the garment laid out on a white, or light, colored surface, lit up by dayligt. Make sure to get the entire garment in the image.
Keep this photo uncluttred.</p>
      <div class="w-row">
      <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Item1.jpg" alt="cover_1.jpg">
        </div>
        <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Item2.jpg" alt="cover_1.jpg">
        </div>
        <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Item3.jpg" alt="cover_3.png">
        </div>
      </div>
    </div>
  </div>
  <div class="detail">
    <div class="w-container">
      <h2>Picture 2 - Fit</h2>
      <p>Use these pictures to enhance cool details of your garment. If your garment is damaged in any way it's a good idea to show it here. If possible, take a picture of yourself wearing the garment. This allows potential customers to quickly get an idea
        of how it fits and looks in real life.</p>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Fit1.jpg" alt="detail_1.jpg">
        </div>
        <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Fit2.jpg" alt="detail_2.jpg">
        </div>
        <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Fit3.jpg" alt="detail_2.jpg">
        </div>
      </div>
    </div>

    <div class="detail">
    <div class="w-container">
      <h2>Picture 3 - Details</h2>
      <p>Use these pictures to enhance cool details of your garment. If your garment is damaged in any way it's a good idea to show it here. If possible, take a picture of yourself wearing the garment. This allows potential customers to quickly get an idea
        of how it fits and looks in real life.</p>
      <div class="w-row">
        <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Details1.jpg" alt="detail_1.jpg">
        </div>
        <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Details3.jpg" alt="detail_3.png">
        </div>
         <div class="w-col w-col-4">
          <img class="pic" src="../../../assets/app/images/hello/photoguide/Details2.jpg" alt="detail_3.png">
        </div>
      </div>
    </div>
  </div>
  <div class="dodont">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h2>Do!</h2>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Do1.jpg" alt="do_4.jpg">
          <p>Do center your garment</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Do2.jpg" alt="do_1.jpg">
          <p>Do arrange your picture nicely</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Do3.jpg" alt="do_2.jpg">
          <p>Do display awesome details</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Do4.jpg" alt="do_3.jpg">
          <p>Do fold your garment, to present it well</p>
        </div>
        <div class="w-col w-col-6">
          <h2>Don't!</h2>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Dont2.jpg" alt="dont_1.jpg">
          <p>Don't take the picture from a weird angle</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Dont1.jpg" alt="dont_1.jpg">
          <p>Don't add text to your image</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Dont4.jpg" alt="dont_4.jpg">
          <p>Don't use pictures from online, show your version of the garment!</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Dont3.jpg" alt="dont_2.jpg">
          <p>Don't do collages, not cool</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Dont6.jpg" alt="dont_1.jpg">
          <p>Don't use low resolution images</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Dont5.jpg" alt="dont_3.jpg">
          <p>Don't display more than one item per ad</p>
          <img class="pic2" src="../../../assets/app/images/hello/photoguide/Dont9.jpg" alt="dont_1.jpg">
          <p>Don't have frames or weird borders around your image</p>
        </div>
      </div>
    </div>
  </div>
  <div class="foot">
  </div>


	<!-- jQuery Files -->
	<script src="@routes.Assets.versioned("app/scripts/beautypop/hello/webfont.js")"></script>
    <script src="@routes.Assets.versioned("app/scripts/beautypop/hello/script.js")"></script>


	
<script>
      WebFont.load({
        google: {
          families: ["Open Sans:300,400,600,700,800"]
        }
      });
    </script>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/common.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/normalize.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/style.css")>
	<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/hello/photoguide.css")>
</body>
</html>


